<!DOCTYPE html>
<html lang="en">
<head>

  <title>登录</title>
  <%- include head %>
</head>
<body>

  <div class="form-box">
    <form action="/users/login" method="post">
      <input type="text" name="username" value="" placeholder="请输入用户名">
      <input type="password" name="password" value="" placeholder="请输入密码">
      <input type="submit" name="" value="登录">
    </form>
    <div>已有账号，<a href="/regist">立即注册</a>！</div>
  </div>

</body>
</html>
