<!DOCTYPE html>
<html lang="en">
<head>

  <title>登录页</title>
  <%- include head %>
</head>
<body>

  <div class="form-box">
    <form  action="/users/login" method="post">
      <input type="text" name='username' value="" placeholder="用户名">
      <input type="password" name='password' value="" placeholder="密 码">
      <input type="submit" name="" value="登 录">
    </form>
    <div>
      还没有账号，<a href="/regist">立即注册</a>！
    </div>
  </div>
</body>
</html>
